<script>
    let estado = 0;
    let doctor = '';
    let nombre = '';
    let apellido = '';
    let motivo = '';
    let email = '';
    let dia = '20/01/20';
    let hora = '9:00';
    let obraSocial = {id:"0",nombre:""};
    let dias = ['08/12/19','20/01/20','19/03/20'];
    let horas = ['9:00','10:00','10:05','11:15'];
    let urgente = false;
    function setDoctor(e,d){
        e.preventDefault();
        doctor = d;
        siguiente(e);
    }
    function setUrgente(e){
        e.preventDefault();
        urgente = !urgente;
    }
    function setDia(e,i){
        e.preventDefault();
        console.log(i);
        dia = i;
    }
    function setHora(e,i){
        e.preventDefault();
        console.log(i);
        hora = i;
    }
    function siguiente(e){
        e.preventDefault();
        if (estado > 4){
            estado = 0;
        } else {
            estado = estado + 1;
        }
    }
    function cancelar(e){
        e.preventDefault();
        estado = 2;
    }
</script>
<style>
    .contenedor{
        width: 100vw;
        max-width: 100%;
        height: calc(100vh - 20vh);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #29A0C7;
        color: white;
    }
    .contenedor > h1 {
        animation: cd-bounce-center;
        animation-duration: .5s;
    }
    .botonera{
        width: 100vw;
        max-width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .item{
        width: 200px;
        height: 300px;
        background: #05456F;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0px 30px;
        cursor: pointer;
    }
    .derecha{
        animation: cd-bounce-right;
        animation-duration: .5s;
    }
    .izquierda{
        animation: cd-bounce-left;
        animation-duration: .5s;
    }
    .cerrar{
        background: #dc493a;
    }
    .centro{
        animation: cd-bounce-center;
        animation-duration: .5s;
    }
    .item:hover{
        background: white;
        color: #05456F;
    }
    .item > i{
        font-size: 3vw;
    }
    .formulario{
        width: 30vw;
        height: 40vh;
        background: lightgray;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }
    .fila{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 90%;
        margin: 1vh 0px;
    }
    input[type="text"],select{
        height: 100%;
        width: 100%;
    }
    button{
        color: white;
        background: #05456F;
        border: none;
        width: 40%;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    button:hover{
        background: #29a0c7;
    }
    .boton{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background: #05456F;
        margin-left: 5px;
        cursor:pointer;
        transition: all .3s ease-out;
    }
    .urgente{
        background: #29A0C7;
    }
    .almanaque{
        width: 50vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: lightgray;
        color: black;
    }
    .lado{
        box-sizing: border-box;
        width: 50%;
        height: 40vh;
        padding: 0;
    }
    .lado > h3{
        margin: 5px;
        padding: 0;
    }
    .itemDia{
        box-sizing: border-box;
        width: 100%;
        background: #05456F;
        color: white;
        padding: 5px;
        cursor: pointer;
    }
    .itemDia:hover{
        background: #29A0C7;
    }
    .itemHora{
        box-sizing: border-box;
        width: 100%;
        background: white;
        color: #05456F;
        padding: 5px;
        cursor: pointer;
    }
    .itemHora:hover{
        background: #05456F;
        color: white;
    }
    .itemHora.activo{
        background: #29A0C7;
    }
    .itemDia.activo{
        background: white;
        color: #05456F;
    }
    .horas{
        background: white;
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 100%;
        margin: 10px;
        padding: 0;
    }
    ul > li{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    ul > li > h4,p{
        margin: 0;
        padding: 0;
    }
    @media only screen and (max-width: 800px) {
        .item{
            height: 25vh;
        }
        .item > h4{
            font-size: 3vw;
            text-align: center;
            margin: 5px;
        }
        .item > i{
            margin: 5px;
            font-size: 10vw;
        }
        .almanaque{
            width: 90%;
        }
        .lado > h3 {
            font-size: 3vmin;
        }
        .formulario{
            width: 90%;
        }
    }
</style>

{#if estado==0}
    <div class="contenedor">
        <h1>Seleccione el Profesional</h1>
        <div class="botonera">
            <div class="item derecha" on:click={(e)=>{setDoctor(e,'Dr. Jen Liberman')}} ><i class="fas fa-user-md"></i><h4>Dr. Jen Liberman</h4></div>
            <div class="item izquierda" on:click={(e)=>{setDoctor(e,'Dr. I. Dario Liberman')}} ><i class="fas fa-user-md"></i><h4>Dr. I. Dario Liberman</h4></div>
        </div>
    </div>
{:else if estado==1}
    <div class="contenedor">
        <h1>Seleccione el turno</h1>
        <div class="almanaque centro">
            <div class="fila">
                <div class="lado derecha">
                    <h3>Dias Disponibles</h3>
                    {#each dias as d,i}
                        <div on:click={(e)=>setDia(e,d)} class={(d == dia? "itemDia activo" : "itemDia")}>{d}</div>
                    {/each}
                </div>
                <div class="lado horas izquierda">
                    <h3>Horas disponibles</h3>
                    {#each horas as h,i}
                        <div on:click={(e)=>setHora(e,h)} class={(h == hora? "itemHora activo" : "itemHora")}>{h}</div>
                    {/each}
                </div>
            </div>
            <button on:click={siguiente}>Siguiente</button>
        </div>
        
    </div>
{:else if estado==2}
    <div class="contenedor">
        <h1>Datos Medicos</h1>
        <div class="formulario centro">
            <div class="fila">
                <select bind:value={obraSocial}>
                    <option value={{id:"0",nombre:""}}>Obra Social</option>
                    <option value={{id:"1",nombre:"Privados"}}>PRIVADOS</option>
                    <option value={{id:"1130",nombre:"ACA Salud"}}>ACA SALUD</option>
                    <option value={{id:"517",nombre:"Accord Salud"}}>ACCORD SALUD</option>
                    <option value={{id:"1140",nombre:"AMFFA (Farmaceuticos)"}}>AMFFA (Farmaceuticos)</option>
                    <option value={{id:"510",nombre:"BANCO PROVINCIA"}}>BANCO PROVINCIA</option>
                    <option value={{id:"1034",nombre:"BRAMED"}}>BRAMED</option>
                    <option value={{id:"516",nombre:"DOSEM"}}>DOSEM</option>
                    <option value={{id:"7215",nombre:"ENSALUD"}}>ENSALUD</option>
                    <option value={{id:"506",nombre:"FEDERADA SALUD"}}>FEDERADA SALUD</option>
                    <option value={{id:"61",nombre:"IOMA"}}>IOMA</option>
                    <option value={{id:"566",nombre:"IOSE"}}>IOSE</option>
                    <option value={{id:"515",nombre:"JERARQUIZADA SALUD"}}>JERARQUIZADA SALUD</option>
                    <option value={{id:"62",nombre:"MEDIFE"}}>MEDIFE</option>
                    <option value={{id:"43",nombre:"OSDE"}}>OSDE</option>
                    <option value={{id:"511",nombre:"OSPBB"}}>OSPBB</option>
                    <option value={{id:"10255",nombre:"OSPEPBA (empleados de escribania)"}}>OSPEPBA (empleados de escribania)</option>
                    <option value={{id:"518",nombre:"OSPERHYRA"}}>OSPERHYRA</option>
                    <option value={{id:"508",nombre:"OSPIF"}}>OSPIF</option>
                    <option value={{id:"509",nombre:"OSPSA"}}>OSPSA</option>
                    <option value={{id:"505",nombre:"OSTEL"}}>OSTEL</option>
                    <option value={{id:"2390",nombre:"PAMI ESPA&#209;OL"}}>PAMI ESPA&#209;OL</option>
                    <option value={{id:"6",nombre:"PAMI HAM"}}>PAMI HAM</option>
                    <option value={{id:"2389",nombre:"PAMI ITALIANO"}}>PAMI ITALIANO</option>
                    <option value={{id:"2391",nombre:"PAMI MATERNIDAD"}}>PAMI MATERNIDAD</option>
                    <option value={{id:"2388",nombre:"PAMI MUNICIPAL"}}>PAMI MUNICIPAL</option>
                    <option value={{id:"4050",nombre:"PAMI VETERANOS"}}>P}AMI VETERANOS</option>
                    <option value={{id:"512",nombre:"PAMI ZONA"}}>PAMI ZONA</option>
                    <option value={{id:"4611",nombre:"PREVENCION SALUD}"}}>PREVENCION SALUD</option>
                    <option value={{id:"513",nombre:"PROTEXIA"}}>PROT}EXIA</option>
                    <option value={{id:"6511",nombre:"SANT}E MEDICAL"}}>SANTE MEDICAL</option>
                    <option value={{id:"507",nombre:"SWISS MEDICAL"}}>SWISS MEDICAL</option>
                    <option value={{id:"54",nombre:"UNS"}}>UNS</option>
                </select>
            </div>
            <div class="fila">
                <input type="text" placeholder="Motivo" bind:value={motivo}>
            </div>
            <div class="fila">
                <h4>Es urgente: </h4><div class={(urgente? "boton urgente":"boton noUrgente")} on:click={setUrgente}>{(urgente? "si" : "no")}</div>
            </div>
            <div class="fila">
                <button on:click={siguiente}>Siguiente</button>
            </div>
        </div>
    </div>
{:else if estado==3}
    <div class="contenedor">
        <h1>Dato Personal</h1>
        <div class="formulario centro">
            <div class="fila">
                <input type="text" placeholder="Nombre" bind:value={nombre}>
            </div>
            <div class="fila">
                <input type="text" placeholder="Apellidos" bind:value={apellido}>
            </div>
            <div class="fila">
                <input type="text" placeholder="Email" bind:value={email}>
            </div>
            <div class="fila">
                <button on:click={siguiente}>Siguiente</button>
            </div>
        </div>
    </div>
{:else if estado==4}
    <div class="contenedor">
        <h1>Confirmar Datos</h1>
        <div class="formulario centro">
            <ul>
                <li class="fila"><h4>Doctor:</h4><p> {doctor}</p></li>
                <li class="fila"><h4>Dia y Hora:</h4><p> {dia}, {hora}Hs.</p></li>
                <li class="fila"><h4>Obra Social:</h4><p> {obraSocial.nombre}</p></li>
                <li class="fila"><h4>Nombre:</h4><p> {apellido}, {nombre}</p></li>
                <li class="fila"><h4>Email:</h4><p> {email}</p></li>
                <li class="fila"><h4>Motivo:</h4><p> {motivo}</p></li>
            </ul>
            <div class="botonera">
                <button class="derecha" on:click={siguiente}>Confirmar</button>
                <button class="cerrar izquierda" on:click={cancelar}>Cancelar</button>
            </div>
        </div>
    </div>
{:else if estado==5}
    <div class="contenedor">
        <h1>Gracias!, su turno fue registrado.</h1>
    </div>
{/if}


